.icon {
    width: 300px;
}

.main {
    margin-top: 50px;
}

.logo {
    width: 150px;
    margin-bottom: -20px;
}

.title {
    margin-bottom: 30px;
}
.main button {
    color: white;
    background-color: rgb(81, 248, 165);
    border-radius: 3px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.question-mark {
    margin-top: 20px;
    cursor: pointer;
}
